<ion-header>
  <ion-toolbar>
    <ion-title>Informasi Mengenai Tabungan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dissmisModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 style="color: black; text-align: center; padding: 9px;">Apa itu tabungan?</h1>
    </ion-card-header>
    <ion-card-content>
      <h3 style="color: black; text-align: justify; padding: 9px;">
        Menurut Otoritas Jasa Keuangan / (OJK), didapati bahwa, tabungan merupakan simpanan uang di bank, dimana penarikan dapat dilakukan sewaktu - waktu, namun dengan syarat - syarat tertentu, seperti
        penarikan uang secara langsung di ATM, atau melalui <i>teller</i> di bank. Menurut Cermati.com (2020), tabungan merupakan proses penyisihan pendapatan rutin per bulan, dimana pertumbuhan keuangannya
        tidak terlalu besar, tetapi dalam pengambilan / penarikannya dapat dilakukan sewaktu - waktu.
      </h3>
      <h4 style="color: black; text-align: justify; padding: 9px; font-size: 9px;">
        Sumber:
        <ul>
          <li>
            https://sikapiuangmu.ojk.go.id/FrontEnd/CMS/Article/70
          </li>
        </ul>
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
