<ion-header>
  <ion-toolbar>
    <ion-title>Informasi Mengenai Investasi Reksadana</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dissmisModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 style="color: black; text-align: center; padding: 9px;">Apa itu investasi reksadana?</h1>
    </ion-card-header>
    <ion-card-content>
      <h3 style="color: black; text-align: justify; padding: 9px;">
        Investasi adalah proses penanaman uang kedalam bentuk surat berharga / pembelian barang berharga / reksadana, dengan tujuan untuk mendapatkan keuntungan. Investasi dapat dilakukan dengan beberapa cara, seperti 
        hanya melakukan penanaman sekali saja, atau melakukan pembelian secara rutin. <br>
        Sedangkan, reksadana sendiri merupakan alternatif investasi, dimana investasi ini dirancang untuk pemodal pemula, dan pemodal yang tidak memiliki keahlian dan waktu untuk menghitung resiko investasinya. Reksadana 
        sendiri memiliki berbagai jenis, saat ini terdapat 4 jenis reksadana, antara lain:
        <ul>
          <li>Reksadana pasar uang<br>
            Reksadana pasar uang merupakan investasi pada jenis investasi pasar uang yang memiliki waktu jatuh tempo kurang setahun.
            Reksadana ini cenderung memiliki resiko yang kecil, serta memiliki hasil sedikit diatas pada deposito. Dikarenakan imbal balik reksadana ini cenderung kecil, sebaiknya reksadana ini dilakukan untuk
            investasi jangka pendek.
          </li>
          <li>Reksadana saham <br>
            Reksadana saham merupakan bentuk investasi reksadana dimana reksadana ini dialokasikan pada ekuitas / saham. Imbal balik yang didapatkan reksadana ini cenderung tinggi, namun memiliki resiko yang tinggi juga.
            Meski begitu, reksadana saham merupakan jenis yang cocok untuk investasi jangka panjang diatas 5 tahun.
          </li>
          <li>Reksadana pendapatan tetap <br>
            Reksadana pendapatan tetap merupakan reksadana yang menginvestasikan pada obligasi. Reksadana ini menginvestasikan pada surat utang. Resiko pada reksadana ini cenderung lebih tinggi daripada reksadana pasar uang,
            namun, imbal balik yang didapatkan dari reksadana ini cenderung lebih stabil.
          </li>
          <li>Reksadana campuran<br>
            Reksadana campuran merupakan investasi reksadana yang bercampur, antara reksadana saham dan reksadana obligasi. Reksadana ini cenderung memiliki imbal balik yang lebih tinggi daripada pasar uang ataupun
            pendapatan tetap. Meskipun imbal baliknya yang cukup baik, resiko yang diberikan juga setingkat dibawah reksadana saham.
          </li>
        </ul>
      </h3>
      <h4 style="color: black; text-align: justify; padding: 9px; font-size: 9px;">
        Sumber:
        <ul>
          <li>
            https://www.bareksa.com/berita/reksa-dana/2018-07-17/pengertian-reksadana-jenis-keuntungan-dan-risikonya
          </li>
          <li>https://www.idx.co.id/produk/reksa-dana/</li>
          <li>https://reksadanacommunity.com/jenis-jenis-reksa-dana/</li>
          <li>https://link.bahanatcw.com/reksa-dana-article?id=2</li>
        </ul>
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
