<ion-header>
  <ion-toolbar>
    <ion-title>Informasi Mengenai Pengelolaan Keuangan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dissmisModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <h1 style="color: black; text-align: center; padding: 9px;">Bagaimana mengoptimalkan keuangan?</h1>
    </ion-card-header>
    <ion-card-content>
      <h4 style="color: black; text-align: justify; padding: 9px; size: 12px;">
        Mengoptimalkan keuangan sebenarnya dapat dilakukan dengan banyak hal. Salah satunya adalah dengan membuat perencanaan alokasi keuangan.
        Alokasi keuangan itu sendiri terdiri atas sebagai berikut:
        <ul>
          <li>Kebutuhan <br>
            Kebutuhan terdiri atas kebutuhan kehidupan sehari - hari. Kebutuhan ini termasuk konsumsi makanan dan minuman sehari - hari, iuran listrik, hingga barang - barang kesehatan seperti sabun dan lain sebagainya.
            Alokasi kebutuhan sehari - hari sebaiknya dimaksimalkan pada 50% hingga 60%. Namun, apabila cicilan sudah mencapai 30% atau lebih, maka sebaiknya mengoptimalkan keuangan kedalam kebutuhan keseharian.
          </li>
          <li>Cicilan
            <br>
            Cicilan memiliki banyak tipe, seperti kredit kepemilikan rumah / KPR, Kredit kendaraan bermotor, hingga pengeluaran kartu kredit untuk kebutuhan lainnya seperti gadget. Pada dasarnya, cicilan sendiri sebaiknya maksimal
            mencapai 30%.
          </li>
          <li>Tabungan<br>
            Alokasi untuk tabungan, sebaiknya disarankan 10%. Persentasi ini dapat ditingkatkan apabila tidak ada cicilan yang sedang ditanggung / dibayarkan, sesuai dengan kebutuhan pada pelaku keuangan.
          </li>
          <li>Investasi<br>
            Alokasi untuk investasi, sebaiknya disarankan 10%. Persentasi ini dapat ditingkatkan apabila tidak ada cicilan yang sedang ditanggung / dibayarkan, sesuai dengan kebutuhan pada pelaku keuangan.            
          </li>
          <li>Cadangan<br>
            Alokasi untuk cadangan, sebaiknya disarankan 10% - 20%. Persentasi ini dapat ditingkatkan apabila tidak ada cicilan yang sedang ditanggung / dibayarkan, sesuai dengan kebutuhan pada pelaku keuangan.
            Cadangan ini digunakan untuk biaya apabila ada suatu kebutuhan diluar rencana, sehingga pembiayaan sehari - hari tidak terganggu.
          </li>
          <li>Proteksi<br>
            Alokasi untuk proteksi, sebaiknya disarankan 10%. Persentasi ini dapat ditingkatkan apabila tidak ada cicilan yang sedang ditanggung / dibayarkan, sesuai dengan kebutuhan pada pelaku keuangan. 
            Kegunaan biaya proteksi adalah untuk kesehatan, salah satu contohnya adalah pembayaran premi asuransi. Sehingga, dibutuhkannya biaya proteksi yang digunakan untuk pembiayaan apabila terjadi
            kecelakaan - kecelakaan / hal - hal yang tidak diinginkan.
          </li>
        </ul>
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
